@import "tailwindcss";

@font-face {
  font-family: "Open Sauce One Black";
  src: url("/src/assets/fonts/open-sauce.one-black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One Regular";
  src: url("/src/assets/fonts/open-sauce.sans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-Regular";
  src: url("/src/assets/fonts/Spectral-Regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: Open Sauce One Regular;
  font-weight: normal;
}

.Montserrat-font {
  font-family: Montserrat;
  font-weight: 900;
}

h1 {
  font-family: Open Sauce One Black;
  font-weight: 700;
}

button,
a {
  font-size: larger;
  cursor: pointer;
}

p {
  font-weight: 500;
}

.course-time {
  font-weight: 900;
}

.our-class-bold {
  font-weight: 900;
}

.span-text {
  font-weight: 900;
}
